* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}

/* ----------- CODE BELOW -----------  */
header{
    display: flex;
    justify-content: space-between;
    background-color: #109DEA;
    color: #FFFFFF;
    
}
img{
    max-width: 100%;
}

.button_header{
    background-color: #109DEA;
    border: none;
    color: #FFFFFF;
    padding: 1rem;
    font-size: 32px;
    transition-duration:  0.3s;
}
.button_header:hover{
    background-color: #EE88E4;
}
.font_h1{
    font-size: 32px;
    font-weight: bold;
    padding: 1rem;
}
.img_under_header{
    width: 100%;
}
.page-home{
    color: #FFFFFF;
}
.page-home h2{
    text-decoration: underline;
    font-size: 48px;
    text-decoration-color: #EE88E4;
    margin-bottom: 30px;
}

.section_dark_blue{
    background-color: #04234E;
    display: flex;
    
}

.section_dark_blue .width50{
    width: 50%;
    padding: 2rem;
}
.section_dark_blue p{
    font-size: 20px;
}

.section_light_blue{
    background-color: #109DEA;
    padding: 1rem 1.5rem;
    margin-bottom: 0px;
    padding-bottom: 2rem;
}

.section_light_blue .card_container{
    display: flex;
    justify-content: space-around;
}
.section_light_blue .card_container .card_lieu{
    border:1px solid;
    width: 850px;
    height: 400px;
    display: flex;
    
}

.section_light_blue .card_container .card_lieu .resize_img{
    width: 398px;
    height:400px ;
    object-fit: none;
    object-position: 50% 30% ;
}
.section_light_blue .card_container .card_lieu h3{
    font-size: 48px;
}
.section_light_blue .card_container .card_lieu p{
    font-size: 20px;
}
.section_light_blue .card_container .button_card{
    font-size: 32px;
    background-color: #04234E;
    padding: 1rem 1.5rem;
    color: #FFFFFF;
    align-self: flex-end;
}
.apli_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    width: 452px;
}

.contact_form{
    display: flex;
    justify-content: center; 
    align-content: center; 
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.contact_form input{
    background-color: #109DEA;
    height: 3rem;
}
.contact_form textarea{
    background-color: #109DEA;
    height: 8rem;
}
.contact_form label{
    padding-top: 10px;
    padding-bottom: 3px;

}
.contact_form .form_button{
    height: 3rem;
    width: 15%;
    font-size: 1.2rem;
    background-color: #EE88E4;
    color: #FFFFFF;
    align-self: center;
}
.section_dark_blue_contact{
    background-color: #04234E;   
}

.column_form{
    display:flex ;
    flex-direction: column;
    width: 48%;
}
.row_form{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}
::placeholder{
    color: #FFFFFF;
    font-size: 1.3rem;
    font-style: italic;

}