* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}

/* ----------- CODE BELOW -----------  */
header{
    display: flex;
    justify-content: space-between;
    background-color: #109DEA;
    color: #FFFFFF;
    
}

.button_header{
    background-color: #109DEA;
    border: none;
    color: #FFFFFF;
    padding: 1rem;
    font-size: 32px;
}
.button_header:hover{
    background-color: #EE88E4;
}
.font_h1{
    font-size: 32px;
    font-weight: bold;
    padding: 1rem;
}
.img_under_header{
    width: 100%;
}
